<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	    layout:decorator="LayoutPadrao">
	    
<head>
<title>Excluir equipamento</title>
</head>

<section layout:fragment="conteudo">
	
	<div layout:include="MensagemGeral"></div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title sg-title-panel"><b>Excluir equipamento</b></h1>
			</div>
		</div>

		<div class="panel-body">
		
			<div class="table-responsive">
				<table id="dataTable" class="table table-condensed table-hover table-bordered">
				<thead>
					<tr>
						<th class="text-center col-md-1 active">#</th>
						<th class="col-md-3 active">Nome</th>
						<th class="text-center col-md-2 active">MAC</th>
						<th class="text-center col-md-2 active">Status</th>
						<th class="text-right col-md-2 active">Tipo</th>
						<th class="col-md-2 active"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="equipamento : ${equipamentos}">
						<td class="text-center" th:text="${equipamento.codigo}" th:classappend="${equipamento.ativo} == true?'info':'danger'"></td>
						<td th:text="${equipamento.nome}" th:classappend="${equipamento.ativo} == true?'info':'danger'"></td>
						<td class="text-center" th:text="${equipamento.mac}" th:classappend="${equipamento.ativo} == true?'info':'danger'"></td>
						<td class="text-center" th:text="${equipamento.status.descricao}" th:classappend="${equipamento.ativo} == true?'info':'danger'"></td>
						<td class="text-center" th:text="${equipamento.tipo.descricao}" th:classappend="${equipamento.ativo} == true?'info':'danger'"></td>
						<td class="text-center" th:classappend="${equipamento.ativo} == true?'info':'danger'">
							<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoEquipamentoModal" th:attr="data-codigo=${equipamento.codigo}, data-nome=${equipamento.nome}" title="Excluir" rel="tooltip" data-placement="top"> 
								<span class="glyphicon glyphicon-remove"></span>
							</a>							
						</td>					
					</tr>
				</tbody>
			</table>
			</div>
		</div>
	</div>
	
	<div layout:include="DialogoConfirmacaoExclusaoEquipamento"></div>
	
</section>

</html>