<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	    layout:decorator="LayoutPadrao">
	    
<head>
<title>Pesquisar fabricantes</title>
</head>

<section layout:fragment="conteudo">
	
	<div layout:include="MensagemGeral"></div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title sg-title-panel"><b>Pesquisa fabricantes</b></h1>
			</div>
		</div>
 		<div class="panel-body"> 			

			<div class="table-responsive">
				<table id="dataTable" class="table table-condensed table-hover table-bordered">
				<thead>
					<tr>
						<th class="text-center col-md-1 active">#</th>
						<th class="active">Nome</th>
						<th class="text-right col-md-2 active">E-mail</th>
						<th class="col-md-1 active"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="fabricante : ${fabricantes}">
						<td class="text-center" th:text="${fabricante.codigo}"></td>
						<td th:text="${fabricante.nome}"></td>
						<td class="text-right" th:text="${fabricante.email}"></td>
						<td class="text-center">
							<a class="btn btn-link btn-xs"  th:href="@{/fabricante/{codigo}/exibir(codigo=${fabricante.codigo})}" 
							title="Exibir" rel="tooltip" data-placement="top">
								<span class="glyphicon glyphicon-open" ></span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
	</div>
</section>

</html>