<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	    layout:decorator="LayoutPadrao">
	    
<head>
<title>Pesquisar usuários</title>
</head>

<section layout:fragment="conteudo">

	<div layout:include="MensagemGeral"></div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title sg-title-panel">
					<b>Pesquisar usuários</b>
				</h1>
			</div>
		</div>

		<div class="panel-body">			

			<div class="table-responsive">
				<table id="dataTable" class="table table-condensed table-hover table-bordered">
				<thead>
					<tr>
						<th class="text-center col-md-1 active">#</th>
						<th class="active">Nome</th>
						<th class="text-center col-md-2 active">Setor</th>
						<th class="text-center col-md-2 active">Grupo</th>
						<th class="text-center col-md-2 active">Email</th>
						<th class="text-right col-md-2 active">Login</th>
						<th class="col-md-1 active"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="usuario : ${usuarios}">
						<td class="text-center" th:text="${usuario.codigo}" th:classappend="${usuario.ativo} == true?'info':'danger'"></td>
						<td th:text="${usuario.nome}" th:classappend="${usuario.ativo} == true?'info':'danger'"></td>
						<td class="text-center" th:text="${usuario.setor.descricao}" th:classappend="${usuario.ativo} == true?'info':'danger'"></td>
						<td class="text-center" th:text="${usuario.grupo.descricao}" th:classappend="${usuario.ativo} == true?'info':'danger'"></td>
						<td class="text-center" th:text="${usuario.email}" th:classappend="${usuario.ativo} == true?'info':'danger'"></td>
						<td class="text-right" th:text="${usuario.login}" th:classappend="${usuario.ativo} == true?'info':'danger'"></td>
						<td class="text-center"  th:classappend="${usuario.ativo} == true?'info':'danger'">
							<a class="btn btn-link btn-xs" th:href="@{/usuario/{codigo}/exibir(codigo=${usuario.codigo})}" title="Exibir" rel="tooltip" data-placement="top"><span class="glyphicon glyphicon-open"></span></a> 
					    </td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
	</div>
</section>

</html>