<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="LayoutPadrao">

<head>
<title>Adicionar bateria</title>
</head>

<section layout:fragment="conteudo">
	<!-- 	Código revisado, finalizado. -->
	
	<div layout:include="MensagemGeral"></div>


	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title sg-title-panel">Baterias disponíveis</h1>
			</div>
		</div>

		<div class="panel-body">
			<fieldset>
				<legend>
					<b th:text="${estrutura.nome}"></b>
				</legend>

				<fieldset>
					<legend>Baterias</legend>
					
					<div class="table-responsive">
					<table id="dataTable1" class="table table-bordered table-striped">
						<thead>
							<tr>
								<th class="text-center col-md-1">#</th>
								<th class="col-md-3">Nome</th>
								<th class="text-center col-md-2">Número série</th>
								<th class="text-right col-md-2">Status</th>
								<th class="col-md-2"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="bateria : ${baterias}">
								<td class="text-center" th:text="${bateria.codigo}"></td>
								<td th:text="${bateria.nome}"></td>
								<td class="text-center" th:text="${bateria.serial}"></td>
								<td class="text-right" th:text="${bateria.status.descricao}"></td>
								<td class="text-center">
									<a class="btn btn-xs btn-success" th:href="@{/{codigoEstrutura}/baterias/adicionar/{codigoBateria}/{codigoEstoque}(codigoEstrutura=${estrutura.codigo},codigoBateria=${bateria.codigo}, codigoEstoque=${bateria.estoque.codigo})}">Adicionar</a> 
								</td>
							</tr>
						</tbody>
					</table>
					</div>
				</fieldset>
			</fieldset>
		</div>
	</div>
</section>
</html>