<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	    layout:decorator="LayoutPadrao">
	    
<head>
<title>Editar estoque</title>
</head>

<section layout:fragment="conteudo">
	<!-- 	Código revisado, finalizado. -->

	<div layout:include="MensagemGeral"></div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title sg-title-panel">
					<b>Editar estoque</b>
				</h1>
			</div>
		</div>

		<div class="panel-body">
		
				<div class="table-responsive">
				<table id="dataTable" class="table table-condensed table-hover table-bordered">
				<thead>
					<tr>
						<th class="text-center col-md-1 active">#</th>
						<th class="active">Descrição</th>
						<th class="text-center col-md-3 active">Endereço</th>
						<th class="text-center col-md-2 active">Latitude</th>
						<th class="text-right col-md-2 active">Longitude</th>
						<th class="col-md-2 active"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="estoque : ${estoques}">
						<td class="text-center" th:text="${estoque.codigo}" th:classappend="${estoque.ativo} == true?'info':'danger'"></td>
						<td th:text="${estoque.descricao}" th:classappend="${estoque.ativo} == true?'info':'danger'"></td>
						<td class="text-center" th:text="${estoque.endereco}" th:classappend="${estoque.ativo} == true?'info':'danger'"></td>
						<td class="text-center" th:text="${estoque.latitude}" th:classappend="${estoque.ativo} == true?'info':'danger'"></td>
						<td class="text-center" th:text="${estoque.longitude}" th:classappend="${estoque.ativo} == true?'info':'danger'"></td>												
						<td class="text-center" th:classappend="${estoque.ativo} == true?'info':'danger'">												
							<a class="btn btn-link btn-xs" th:href="@{/editar/estoques/{codigo}(codigo=${estoque.codigo})}" title="Editar" rel="tooltip" data-placement="top">
						 		<span class="glyphicon glyphicon-pencil" title="Editar"></span>
							</a>						
						</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
	</div>
</section>

</html>