<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	    layout:decorator="LayoutPadrao">
	    
<head>
<title>Exibir bateria</title>
</head>

<section layout:fragment="conteudo">
	<div class="form-horizontal">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="clearfix">
					<h1 class="panel-title sg-title-panel">Bateria</h1>
				</div>
			</div>
			<div class="panel-body">
				<div class="container-fluid">
					<div id="row0" class="row">
						<div class="col-md-12">
							<ul class="list-group">
								<li class="list-group-item" th:text="|Código: ${bateria.codigo}|"></li>
								<li class="list-group-item" th:text="|Nome: ${bateria.nome}|"></li>
								<li class="list-group-item" th:text="| Serial: ${bateria.serial}"></li>
 								<li class="list-group-item" th:text="| Tipo: ${bateria.tipo.descricao}"></li>
								<li class="list-group-item" th:text="|${bateria.voltagem} volts|"></li>
								<li class="list-group-item" th:text="|${bateria.corrente} Ah|"></li>
								<li class="list-group-item" th:text="| R$ ${bateria.preco}|"></li>
								<li class="list-group-item" th:text="| Data da compra: ${#dates.format(bateria.dataCompra, 'dd/MM/yyyy')}|"></li>
								<li class="list-group-item" th:text="| Status: ${bateria.status.descricao}"></li>
								<li class="list-group-item">Situação: <span class="glyphicon" th:classappend="${bateria.ativo} == true?'glyphicon-ok-circle':'glyphicon-remove-circle'"></span></li>
 								<li class="list-group-item"	th:if="${bateria.estoque} != null" th:text="| Estoque: ${bateria.estoque.descricao}|"></li>
								<li class="list-group-item"	th:if="${bateria.estrutura} != null" th:text="| Estrutura: ${bateria.estrutura.nome}|"></li>
 								<li class="list-group-item" th:text="| Fabricante: ${bateria.fabricante.nome}|"></li>								 
							</ul>
							
							<div id="rowButton" class="row">
								<a class="btn btn-default" th:href="@{/baterias}">Cancelar</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</html>