<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	    layout:decorator="LayoutPadrao">
	    
<head>
<title>Exibir Usuário</title>
</head>

<section layout:fragment="conteudo">
	<div class="form-horizontal">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="clearfix">
					<h1 class="panel-title sg-title-panel">Usuário</h1>
					<a class="btn btn-link sg-link-panel" th:href="@{/usuarios}">Pesquisar</a>
				</div>
			</div>
			<div class="panel-body">
				<div class="container-fluid">
					<div id="row0" class="row">
						<div class="col-md-12">
							<ul class="list-group">
								<li class="list-group-item" th:text="|Código: ${usuario.codigo}|"></li>
								<li class="list-group-item" th:text="|Nome: ${usuario.nome}|"></li>
								<li class="list-group-item" th:text="|Grupo: ${usuario.grupo.descricao}|"></li>
								<li class="list-group-item" th:text="|Setor: ${usuario.setor.descricao}|"></li>
								<li class="list-group-item" th:text="| Login: ${usuario.login}|"></li>
								<li class="list-group-item" th:text="${usuario.email}"></li>
								<li class="list-group-item" th:text="| Data e hora do cadastro: ${#temporals.format(usuario.dataHoraCadastro, 'dd/MM/yyyy - HH:mm')}|"></li>
								<li class="list-group-item">Situação: <span class="glyphicon" th:classappend="${usuario.ativo} == true?'glyphicon-ok-circle':'glyphicon-remove-circle'"></span></li>
							</ul>
							<div id="rowButton" class="row">
								<a class="btn btn-default" th:href="@{/usuarios}">Cancelar</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

</html>