<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="LayoutPadrao">

<head>
<title>Exibir estrutura</title>
</head>

<section layout:fragment="conteudo">

	<div layout:include="MensagemGeral"></div>

	<div class="form-horizontal">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="clearfix">
					<h1 class="panel-title sg-title-panel" th:text="${estrutura.nome}"></h1>
				</div>
			</div>

			<div class="panel-body">
				<div class="container-fluid">
					<div id="row0" class="row">
						<div class="col-md-4">
							<div id="rowMapa" class="row">
								<div id="mapa"></div>
							</div>
						</div>
						<div class="col-md-8">
							<ul class="list-group">
								<li class="list-group-item" th:text="| Código: ${estrutura.codigo}|"></li>
								<li class="list-group-item" th:text="| Nome: ${estrutura.nome}|"></li>
								<li class="list-group-item" th:text="| Tipo: ${estrutura.tipo.descricao}|"></li>
								<li class="list-group-item" th:text="${estrutura.endereco}"></li>
								<li class="list-group-item" id="latitude" th:text="${estrutura.latitude}" th:attr="data-latitude=${estrutura.latitude}"></li>
								<li class="list-group-item" id="longitude" th:text="${estrutura.longitude}" th:attr="data-longitude=${estrutura.longitude}"></li>
								<li class="list-group-item"	th:text="${estrutura.proprietario}"></li>
								<li class="list-group-item" th:text="${estrutura.telefone}"></li>
								<li class="list-group-item"	th:text="| R$ ${estrutura.aluguel} |"></li>
								<li class="list-group-item">Situação: <span class="glyphicon" th:classappend="${estrutura.ativo} == true?'glyphicon-ok-circle':'glyphicon-remove-circle'"></span></li>
								
							</ul>
							<div id="rowButton" class="row">
								<a class="btn btn-default" th:href="@{/estruturas}">Cancelar</a>
							</div>
						</div>
					</div>
					
					<div class="clearfix">
						<div class="buttonAdc">
							<a class="btn btn-xs btn-primary" th:href="@{/{codigo}/equipamentos/adicionar(codigo=${estrutura.codigo})}" sec:authorize="hasRole('ROLE_ADICIONAR')" th:if="${estrutura.ativo}">Adicionar</a>	
						</div>
					</div>
								
					<fieldset>
						<legend>Equipamentos</legend>		

						<div class="table-responsive">
							<table id="dataTable" class="table table-condensed table-hover table-bordered">
								
								<thead>
									<tr>
										<th class="text-center col-md-1 active">#</th>
										<th class="col-md-3 active">Nome</th>
										<th class="text-center col-md-2 active">MAC</th>
										<th class="text-center col-md-2 active">Status</th>
										<th class="text-right col-md-2 active">Tipo</th>
										<th class="col-md-2 active"></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="equipamento : ${equipamentos}">										
										<td class="text-center" th:text="${equipamento.codigo}"></td>
										<td th:text="${equipamento.nome}"></td>
										<td class="text-center" th:text="${equipamento.mac}"></td>
										<td class="text-center"
											th:text="${equipamento.status.descricao}"></td>
										<td class="text-center" th:text="${equipamento.tipo}"></td>
										<td class="text-center">
											<a class="btn btn-xs btn-danger" th:href="@{/{codigoEstrutura}/equipamentos/remover/{codigoEquipamento}(codigoEstrutura=${estrutura.codigo}, codigoEquipamento=${equipamento.codigo})}">Estocar</a> 
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</fieldset>
					
					<div class="clearfix">
						<div class="buttonAdc">					
							<a class="btn btn-xs btn-primary" th:href="@{/{codigo}/baterias/adicionar(codigo=${estrutura.codigo})}" sec:authorize="hasRole('ROLE_ADICIONAR')" th:if="${estrutura.ativo}">Adicionar</a>
						</div>
					</div>
					
					<fieldset>
						<legend>Baterias</legend>			

						<div class="table-responsive">
							<table id="dataTable" class="table table-condensed table-hover table-bordered">
								<thead>
									<tr>
										<th class="text-center col-md-1 active">#</th>
										<th class="col-md-3 active">Nome</th>
										<th class="text-center col-md-2 active">Nº série</th>
										<th class="text-center col-md-2 active">Status</th>
										<th class="text-center col-md-2 active">Ah</th>
										<th class="col-md-2 active"></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="bateria : ${baterias}">
										<td class="text-center" th:text="${bateria.codigo}"></td>
										<td th:text="${bateria.nome}"></td>
										<td class="text-center" th:text="${bateria.serial}"></td>
										<td class="text-center" th:text="${bateria.status.descricao}"></td>
										<td class="text-center" th:text="|${bateria.corrente} Ah|"></td>
										<td class="text-center">
											<a class="btn btn-xs btn-danger" th:href="@{/{codigoEstrutura}/baterias/remover/{codigoBateria}(codigoEstrutura=${estrutura.codigo}, codigoBateria=${bateria.codigo})}">Estocar</a> 
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
</section>

</html>