<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	    layout:decorator="LayoutPadrao">
	    
<head>
<title>Exibir fabricante</title>
</head>

<section layout:fragment="conteudo">

	<div class="form-horizontal">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="clearfix">
					<h1 class="panel-title sg-title-panel">Fabricante</h1>
				</div>
			</div>

			<div class="panel-body">

				<div class="container-fluid">
					<div id="row0" class="row">
						<div class="col-md-12">
							<ul class="list-group">
								<li class="list-group-item" th:text="| Código: ${fabricante.codigo}|"></li>
								<li class="list-group-item" th:text="| Nome: ${fabricante.nome}|"></li>
								<li class="list-group-item" th:text="| E-mail: ${fabricante.email}|"></li>
							</ul>
							<div id="rowButton" class="row">
								<a class="btn btn-default" th:href="@{/fabricantes}">Cancelar</a>
							</div>
						</div>
					</div>

					<fieldset th:if="${#lists.isEmpty(equipamentos)} == false">
						<legend>Equipamentos</legend>		

						<div class="table-responsive">
							<table id="dataTable" class="table table-condensed table-hover table-bordered">
								
								<thead>
									<tr>
										<th class="text-center col-md-1 active">#</th>
										<th class="col-md-3 active">Nome</th>
										<th class="text-center col-md-2 active">MAC</th>
										<th class="text-center col-md-2 active">Status</th>
										<th class="text-right col-md-2 active">Tipo</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="equipamento : ${equipamentos}">										
										<td class="text-center" th:text="${equipamento.codigo}"></td>
										<td th:text="${equipamento.nome}"></td>
										<td class="text-center" th:text="${equipamento.mac}"></td>
										<td class="text-center"
											th:text="${equipamento.status.descricao}"></td>
										<td class="text-center" th:text="${equipamento.tipo}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</fieldset>					
					
					<fieldset th:if="${#lists.isEmpty(baterias)} == false">
						<legend>Baterias</legend>			

						<div class="table-responsive">
							<table id="dataTable" class="table table-condensed table-hover table-bordered">
								<thead>
									<tr>
										<th class="text-center col-md-1 active">#</th>
										<th class="col-md-3 active">Nome</th>
										<th class="text-center col-md-2 active">Nº série</th>
										<th class="text-center col-md-2 active">Status</th>
										<th class="text-center col-md-2 active">Ah</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="bateria : ${baterias}">
										<td class="text-center" th:text="${bateria.codigo}"></td>
										<td th:text="${bateria.nome}"></td>
										<td class="text-center" th:text="${bateria.serial}"></td>
										<td class="text-center" th:text="${bateria.status.descricao}"></td>
										<td class="text-center" th:text="|${bateria.corrente} Ah|"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</fieldset>					
				</div>
			</div>
		</div>
	</div>

</section>

</html>