<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	    layout:decorator="LayoutPadrao">
	    
<head>
<title>Ínicio</title>
</head>

<section layout:fragment="conteudo">

	<div layout:include="MensagemGeral"></div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title sg-title-panel">
					<b>Início</b>
				</h1>
			</div>
		</div>

		<div class="panel-body">
		<h3>Bem vindo(a), <b sec:authentication="principal.nome"></b>, navegue pelo menu acima!</h3>
		</div>
	</div>

</section>

</html>