<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
		
<head>
<title>Sigeest</title>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<link  rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

<link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/css/font-awesome.min.css}"/>

<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker.standalone.min.css}"/>

<link rel="stylesheet" type="text/css" th:href="@{/css/dataTables.bootstrap.min.css}"/>

<link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui-autocomplete.css}"/>

<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

<link rel="stylesheet" type="text/css" th:href="@{/css/transitions.css}"/>

</head>

<body>

	<header layout:include="Cabecalho"></header>
	
	<div layout:include="Menu"></div>
	
	<section layout:fragment="conteudo"></section>

	<footer layout:include="Rodape"></footer>
	
	
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>

	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	
	<script type="text/javascript" th:src="@{/js/plugins/jquery-autocomplete-ui.js}"></script>	
	
	<script type="text/javascript" th:src="@{/js/plugins/bootstrap-datepicker.js}"></script>
		
	<script type="text/javascript" th:src="@{/js/plugins/bootstrap-datepicker.pt-BR.js}"></script>		
	
	<script type="text/javascript" th:src="@{/js/plugins/jquery.dataTables.min.js}"></script>	
	
	<script type="text/javascript" th:src="@{/js/plugins/dataTables.bootstrap.min.js}"></script>	
		
	<script type="text/javascript" th:src="@{/js/plugins/jquery.maskMoney.min.js}"></script>
		
	<script type="text/javascript" th:src="@{/js/plugins/jquery.maskedinput.js}"></script>
	
	<script type="text/javascript" th:src="@{/js/plugins/validator.min.js}"></script>
		
	<script type="text/javascript" th:src="@{http://maps.googleapis.com/maps/api/js?key=AIzaSyCVN7EMCsdzGiYjeiZrHMxciANgmgVEjmg&amp;sensor=false}"></script>
	
	<script type="text/javascript" th:src="@{/js/custom/modal.js}"></script>	
	
	<script type="text/javascript" th:src="@{/js/custom/app.js}"></script>
	
	<script type="text/javascript" th:src="@{/js/custom/mapa.js}"></script>
	
	<script type="text/javascript" th:src="@{/js/custom/transitions.js}"></script>
	
	<script type="text/javascript" th:src="@{/js/custom/autocomplete.js}"></script>
	
</body>

</html>